body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-slike {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 20px;
    background: #f7f7f7;
}

.main-nav{
    background-color: #20aac2;
    padding: 5px 0;
    
    ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px; 
    padding: 0;}

    a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
    }

    a:hover {
    background-color: #115772;
}
}

.container {
    max-width: 1800px;  
    margin: 0 auto;     
    padding: 0 20px;    
    background-color: #ffffff; 
}

.main-footer {
    visibility: hidden; /*dok se ne zavrsi ostalo nek bude skriven */
    background-color: #ffffff; 
    height: 80px;             
    margin-top: 40px;
    border-top: 1px solid #000000; 
    border-bottom: 1px solid #000000; 
    display: flex;             
    justify-content: center;  
    align-items: center;       
    text-align: center;
    color: #000000;  
    font-weight: bold;    
}
.div-slike{
    display: flex;             
    justify-content: center;  
    align-items: center;       
    text-align: center;
}

.glavne-slike {
    padding: 50px 0;
    text-align: center;

    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
        justify-items: center;
        align-items: center;

        .grid-item {
            img {
                width: 400px;
                height: 250px;
                border: 2px solid #000;   
                border-radius: 5px;       
                cursor: pointer;
                transition: transform 0.2s ease, box-shadow 0.2s ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 4px 10px rgba(7, 117, 136, 0.2);
                }
            }

            p {
                margin-top: 10px;
                font-weight: bold;
                color: #333;
            }
        }
    }
}


