
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-size: 20px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #00949b 0%,
        #75cedc 100%
    );
}

.header-slike {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px; 
    padding: 30px;
    background: #f2f2f2;
}

.iznadslika{
   padding-left: 20px;
   font-size: 18px;
   font-weight: 500;
   color: #000000;
   background-color: #f2f2f2;
   padding: 30px 20px 30px 20px; /*gore-desno-dolje-lijevo */
}

.main-nav{
    background-color: #f2f2f2;
    padding: 20px 20px 10px 20px;
    margin:auto;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;

 ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding: 0;
    justify-content: right;
    flex-wrap: wrap;
   }

 .navnaslov {
    font-style: italic;
    font-size: 25px;
    font-weight: 500;
    color: #4a9469;
    white-space: nowrap;
    margin-right: auto;
   }

  a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {background-color: #babbbe;}
 }}

@media (max-width: 768px) {
        ul {
            flex-direction: column;
            align-items: flex-start; 
        }

        a {
            width: 100%;
        }
    }

 .container {
    max-width: auto;  
    margin: 0 auto;     
    padding: 0 20px;    
 }

 .footer {
    padding: 20px 40px 0 40px;
    border-top: 2px solid #1157722a;
    flex-wrap: wrap;

 .footersadrzaj{
    display: flex;
    justify-content: space-between;
    align-items: center;

 .footerlijevo {
    display: flex;
    gap: 15px;  
    img {
        height: 160px;
        width: 120px;
        object-fit: contain;
        border-radius: 5px;
        }}

 .footerdesno {
    display: flex;
    gap: 30px;
    flex-direction: column;   
    margin-right:20px;
    a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        transition: color 0.2s;
        &:hover {color: #115772;}
    }}
 }

 .footerispod {
    margin-top: 15px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #000000;
    border-top: 1px solid #1157722a;
    }
 }

 .div-slike{
    display: flex;             
    justify-content: center;  
    align-items: center;       
    text-align: center;
 }

 .glavne-slike {
    padding: 50px 0;
    text-align: center;
    
  .slike-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 30px;
        justify-items: center;

  .glslike {
        width: 500px;

      img {
         width: 100%;
         height: auto;
         display: block;    
         border: 1px solid #000;
         border-radius: 5px;
         transition: transform 0.2s ease, box-shadow 0.2s ease;
         &:hover { transform: scale(1.05);  box-shadow: 10px 10px 20px rgba(190, 159, 19, 0.2);}
        }
       p {
         margin-top:12px;
         font-size: 22px;
         font-weight: bold;
         color: #fff;
         text-align:center;
        }
   }
  }
 }



